[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "==2.3"
scikit-learn = "==1.2.2"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
